@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ffffff;
  margin: 0;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
}

.promo {
  padding-top: 85px;
  padding-bottom: 100px;
  position: relative;
}
.promo__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.promo__info_name {
  font-family: Gilroy-Bold;
  font-size: 47px;
  line-height: 59px;
  text-align: left;
  color: #070707;
  width: 120px;
}
.promo__info_major-frontend {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #070707;
}
.promo__info_major-ageFrom {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #070707;
}
.promo__photo {
  margin-top: 30px;
  background: url("../img/promo/me.jpg") no-repeat 50%/cover;
  width: 100%;
  height: 400px;
}

.activeLanguage {
  color: #070707;
}

.header {
  padding-top: 30px;
  position: fixed;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}
.header__nav {
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  max-width: 950px;
}
.header__nav_item {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  cursor: pointer;
  text-decoration: none;
}
.header__nav_item:hover {
  color: #070707;
}
.header__nav_underline {
  width: 100%;
  height: 1px;
  background-color: #828282;
  margin-top: 31px;
}

.aboutme {
  background-color: #F6F6F6;
  padding-top: 100px;
  padding-bottom: 100px;
}
.aboutme__title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  text-align: center;
}
.aboutme__text {
  margin: 0 auto;
  margin-top: 17px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  max-width: 500px;
}

.contacts {
  background-color: #F6F6F6;
  padding: 115px 0 115px 0;
}
.contacts__social-icon {
  width: 40px;
}
.contacts__social-icon-telegram {
  width: 45px;
}
.contacts__social-wrapper {
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  max-width: 170px;
  justify-content: space-between;
}
.contacts__title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  text-align: center;
  color: #070707;
  margin: 0;
}
.contacts__describe {
  margin-top: 20px;
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  color: #070707;
}

.portfolio {
  padding: 110px 0 100px 0;
}
.portfolio__title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}
.portfolio__item-img {
  margin-top: 50px;
  background: url("../img/portfolio/portfolioitem.png") no-repeat 50%/cover;
  width: 100%;
  height: 510px;
  cursor: pointer;
}
.portfolio__item-describe {
  display: block;
  font-family: Gilroy-Medium;
  font-size: 18px;
  color: #070707;
  margin-top: 44px;
  text-align: center;
}

.aside {
  display: none;
  left: -100%;
  position: fixed;
  background: #fff;
  width: 320px;
  height: 100%;
  z-index: 100;
  transition: all 0.6s;
}
.aside__menu {
  list-style-type: none;
  padding: 66px 200px 0 30px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.aside__menu-item {
  font-family: Gilroy-Bold;
  font-size: 25px;
  line-height: 22px;
  color: #828282;
  cursor: pointer;
  text-decoration: none;
}
.aside__menu-item:hover {
  color: #070707;
}
.aside__close {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  top: 25px;
  right: 25px;
}
.aside__close-1 {
  height: 25px;
  width: 3px;
  margin-left: 12px;
  background-color: #070707;
  transform: rotate(45deg);
  border-radius: 2px;
  Z-index: 100;
}
.aside__close-2 {
  height: 25px;
  width: 3px;
  border-radius: 2px;
  background-color: #070707;
  transform: rotate(90deg);
  Z-index: 101;
}

.burger {
  height: 21px;
  width: 36px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 21px;
  right: 30px;
  align-items: flex-end;
  cursor: pointer;
  z-index: 100;
}
.burger-line {
  width: 30px;
  height: 3px;
  background-color: #151812;
}

.activeMenu {
  left: 0;
}

@media (max-width: 990px) {
  .aside {
    display: block;
  }
  .burger {
    display: flex;
  }
  .header {
    display: none;
  }
  .promo {
    padding: 85px 20px 100px 20px;
  }
  .portfolio {
    padding: 110px 20px 100px 20px;
  }
}
@media (max-width: 525px) {
  .aboutme__text {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .promo__photo {
    background: url("../img/promo/miniscreen.png") no-repeat 50%/cover;
  }
  .promo__info_name {
    font-size: 37px;
    line-height: 40px;
  }
  .promo__info_major-frontend {
    font-size: 16px;
  }
  .promo__info_major-ageFrom {
    font-size: 16px;
  }
}
@media (max-width: 365px) {
  .promo {
    padding-top: 50px;
  }
  .promo__info {
    display: block;
  }
  .promo__info_name {
    font-size: 30px;
    line-height: 31px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .promo__info_major {
    margin: 0 auto;
  }
  .promo__info_major-frontend {
    font-size: 16px;
    text-align: center;
  }
  .promo__info_major-ageFrom {
    text-align: center;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */